{% extends 'base_logged_in.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block logged_in_content %}
    <div class="main-content bgc-grey-100">
        <div class="mainContent">
            <div class="row gap-20">

                <div class="col-md-3">
                    <div class="bdrs-3 ov-h bgc-white bd">
                        <div class="bgc-amber-600 ta-c p-15">
                            <h4 class="c-white m-0">
                                <button class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#todoModal">
                                    {{ "create_new"|trans }}
                                </button>
                                TODOs
                            </h4>
                        </div>
                        <div class="p-0">
                            <div class="layer w-100" style="max-height: 40vh; overflow-y: auto;">
                                <div class="pos-r">
                                    <ul class="m-0 p-0 mT-10" id="todo-list">
                                        {# Wird dynamisch durch JavaScript gefüllt #}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    {# --- Linke Spalte: NUR Schlüsselübersicht --- #}
                    {% set allKeysFlat = [] %}

                    {% for roomId, keys in keysByRoom %}
                        {% for key in keys %}
                            {% set allKeysFlat = allKeysFlat|merge([key]) %}
                        {% endfor %}
                    {% endfor %}

                    {% if keysWithoutRoom is not empty %}
                        {% for key in keysWithoutRoom %}
                            {% set allKeysFlat = allKeysFlat|merge([key]) %}
                        {% endfor %}
                    {% endif %}
                    <div class="bdrs-3 ov-h bgc-white bd" style="margin-top: 20px;">
                        <div class="bgc-deep-purple-500 ta-c p-15">
                            <h4 class="c-white m-0">Schlüsselübersicht</h4>
                        </div>

                        {# Filter ganz oben #}
                        <div class="p-15 border-bottom bg-light">
                            <label class="form-label fw-bold mb-2">Filter:</label>
                            <div class="d-flex flex-wrap gap-2">
                                <div class="form-check key-form-check">
                                    <input class="form-check-input key-filter-checkbox" type="checkbox"
                                           value="borrowed" id="filterKeyBorrowed" checked>
                                    <label class="form-check-label" for="filterKeyBorrowed">
                                        <i class="ti-export c-amber-500"></i> Verliehen
                                    </label>
                                </div>
                                <div class="form-check key-form-check">
                                    <input class="form-check-input key-filter-checkbox" type="checkbox"
                                           value="available" id="filterKeyAvailable" checked>
                                    <label class="form-check-label" for="filterKeyAvailable">
                                        <i class="ti-check c-green-500"></i> Verfügbar
                                    </label>
                                </div>
                                <div class="form-check key-form-check">
                                    <input class="form-check-input key-filter-checkbox" type="checkbox"
                                           value="lost" id="filterKeyLost" checked>
                                    <label class="form-check-label" for="filterKeyLost">
                                        <i class="ti-close c-red-500"></i> Verloren
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="p-0">
                            <div class="layer w-100" style="max-height: 40vh; overflow-y: auto;">
                                <div class="pos-r">
                                    <ul class="m-0 p-0 mT-10" id="day-events-list">
                                        {# Wird dynamisch durch JavaScript gefüllt #}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# --- Rechte Spalte: Filter & Kalender Grid --- #}
                <div class="col-md-9">
                    <div class="bgc-white p-20 bd mB-20">
                        <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                            <h6 class="c-grey-900 m-0"></h6>
                            <div class="d-flex gap-3 flex-wrap align-items-center">
                                <button type="button" class="btn btn-warning" id="syncApiBtn">
                                    <i class="ti-reload"></i> Veranstaltungen aus WP laden
                                </button>

                                {# View Switcher #}
                                <div class="btn-group" role="group">
                                    <input type="radio" class="btn-check" name="calendarView" id="viewGlobal" value="global" checked autocomplete="off">
                                    <label class="btn btn-outline-primary btn-sm" for="viewGlobal">
                                        <i class="ti-calendar"></i> Gesamtansicht
                                    </label>

                                    <input type="radio" class="btn-check" name="calendarView" id="viewRooms" value="rooms" autocomplete="off">
                                    <label class="btn btn-outline-primary btn-sm" for="viewRooms">
                                        <i class="ti-layout-grid2"></i> Raumansicht
                                    </label>
                                </div>

                                <div class="d-flex gap-3 flex-wrap" id="calendar-filters" style="display: none !important;">
                                    <div class="form-check">
                                        <input class="form-check-input filter-checkbox" type="checkbox" value="production"
                                               id="filterProduction" checked>
                                        <label class="form-check-label" for="filterProduction">Produktion</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filter-checkbox" type="checkbox" value="cleaning"
                                               id="filterCleaning" checked>
                                        <label class="form-check-label" for="filterCleaning">Reinigung</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filter-checkbox" type="checkbox" value="private"
                                               id="filterPrivate" checked>
                                        <label class="form-check-label" for="filterPrivate">Privat / Sonstiges</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filter-checkbox" type="checkbox" value="keys"
                                               id="filterKeys" checked>
                                        <label class="form-check-label" for="filterKeys">🔑 Schlüssel</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Globaler Kalender Container #}
                    <div id="globalCalendarContainer">
                        <div class="bgc-white p-15 bd">
                            <div id="global-calendar"></div>
                        </div>
                    </div>

                    {# Raum-Kalender Container (initial versteckt) #}
                    <div id="roomCalendarsContainer" style="display: none;">
                        <div class="row">
                            {% for room in rooms %}
                                <div class="col-12 col-xl-6 mb-4">
                                    <div class="bgc-white p-15 bd h-100">
                                        <h5 class="c-grey-900 border-bottom pb-2 mB-15 text-center">{{ room.name }}</h5>
                                        <div class="room-calendar" data-room-id="{{ room.id }}"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Todo Modal #}
        <div class="modal fade" id="todoModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Todo verwalten</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="todoForm">
                            <input type="hidden" id="todoId">
                            <div class="mb-3">
                                <label class="form-label">TODO</label>
                                <textarea class="form-control" id="todoDescription" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-primary" id="saveTodoBtn">Speichern</button>
                    </div>
                </div>
            </div>
        </div>

        {# Key Management Modal #}
        <div class="modal fade" id="keyManagementModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Schlüssel verwalten <span id="modalKeyNameTitle" class="badge bg-secondary"></span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="keyManagementForm">
                            <input type="hidden" id="keyId">

                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <select class="form-select" id="keyStatus">
                                    <option value="available">Verfügbar</option>
                                    <option value="borrowed">Verliehen</option>
                                    <option value="lost">Verloren</option>
                                </select>
                            </div>

                            <div id="borrowDetails" style="display: none;">
                                <div class="mb-3">
                                    <label class="form-label">Verliehen an (Typ)</label>
                                    <select class="form-select" id="borrowerType">
                                        <option value="">Bitte wählen...</option>
                                        <option value="user">Benutzer</option>
                                        <option value="technician">Techniker</option>
                                        <option value="production">Produktion</option>
                                        <option value="cleaning">Reinigung</option>
                                    </select>
                                </div>

                                <div class="mb-3 borrower-select" id="userSelectDiv" style="display:none;">
                                    <label class="form-label">Benutzer</label>
                                    <select class="form-select" id="userId">
                                        <option value="">Wählen...</option>
                                        {% for u in allUsers %}
                                            <option value="{{ u.id }}">{{ u.email }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3 borrower-select" id="technicianSelectDiv" style="display:none;">
                                    <label class="form-label">Techniker</label>
                                    <select class="form-select" id="technicianId">
                                        <option value="">Wählen...</option>
                                        {% for t in allTechnicians %}
                                            <option value="{{ t.id }}">{{ t.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3 borrower-select" id="productionSelectDiv" style="display:none;">
                                    <label class="form-label">Produktion</label>
                                    <select class="form-select" id="productionId">
                                        <option value="">Wählen...</option>
                                        {% for p in allProductions %}
                                            <option value="{{ p.id }}">{{ p.getTitle() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3 borrower-select" id="cleaningSelectDiv" style="display:none;">
                                    <label class="form-label">Reinigung</label>
                                    <select class="form-select" id="cleaningId">
                                        <option value="">Wählen...</option>
                                        {% for c in allCleanings %}
                                            <option value="{{ c.id }}">{{ c.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Beschreibung</label>
                                    <textarea class="form-control" id="keyDescription" rows="3" placeholder="Optional..."></textarea>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Ausgabedatum</label>
                                    <input type="text" class="form-control" id="keyBorrowDate"
                                           data-daterangepicker="single-datetime" placeholder="Datum und Uhrzeit wählen">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Rückgabedatum (geplant)</label>
                                    <input type="text" class="form-control" id="keyReturnDate"
                                           data-daterangepicker="single-datetime" placeholder="Datum und Uhrzeit wählen">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-primary" id="saveKeyBtn">Speichern</button>
                    </div>
                </div>
            </div>
        </div>

        {# NEU: Appointment Modal #}
        <div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="appointmentModalLabel">Neuer Termin</h5>

                        <button type="button"
                                class="btn btn-outline-secondary btn-sm ms-2"
                                id="duplicateAppointmentBtn"
                                style="display: none;">
                            <i class="ti-files"></i> Duplizieren
                        </button>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="appointmentForm">
                            <input type="hidden" id="appointmentId">

                            {# Art des Termins #}
                            <div class="mb-3">
                                <label class="form-label d-block fw-bold">Art des Termins</label>
                                <div class="btn-group w-100" role="group">
                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typePrivate" value="private" checked>
                                    <label class="btn btn-outline-primary" for="typePrivate">Privat</label>

                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typeProduction" value="production">
                                    <label class="btn btn-outline-primary" for="typeProduction">Produktion</label>

                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typeClosedEvent" value="closed_event">
                                    <label class="btn btn-outline-primary" for="typeClosedEvent">Geschl. Veranstaltung</label>

                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typeSchoolEvent" value="school_event">
                                    <label class="btn btn-outline-primary" for="typeSchoolEvent">Schulveranstaltung</label>

                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typeInternal" value="internal">
                                    <label class="btn btn-outline-primary" for="typeInternal">Intern</label>

                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typeCleaning" value="cleaning">
                                    <label class="btn btn-outline-primary" for="typeCleaning">Reinigung</label>
                                </div>
                            </div>

                            {# Titel #}
                            <div class="mb-3">
                                <label for="appointmentTitle" class="form-label">Titel *</label>
                                <input type="text" class="form-control" id="appointmentTitle" required>
                            </div>

                            {# Raum #}
                            <div class="mb-3">
                                <label for="appointmentRoom" class="form-label">Raum</label>
                                <select class="form-select" id="appointmentRoom">
                                    <option value="">-- Kein Raum (Global) --</option>
                                    {% for room in allRooms %}
                                        <option value="{{ room.id }}">{{ room.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {# Beschreibung #}
                            <div class="mb-3">
                                <label for="appointmentDescription" class="form-label">Beschreibung</label>
                                <textarea class="form-control" id="appointmentDescription" rows="3"></textarea>
                            </div>

                            {# Zeitraum #}
                            <div class="mb-3">
                                <label for="appointmentDateRange" class="form-label">Zeitraum *</label>
                                <input type="text" class="form-control" id="appointmentDateRange"
                                       data-daterangepicker="datetime-range" placeholder="Start - Ende wählen">
                            </div>

                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="appointmentAllDay">
                                <label class="form-check-label" for="appointmentAllDay">Ganztägig</label>
                            </div>

                            {# Wiederholung #}
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="appointmentRecurring">
                                    <label class="form-check-label" for="appointmentRecurring">Wiederholender Termin</label>
                                </div>
                            </div>

                            <div id="recurrenceOptions" style="display: none;">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Wiederholung</label>
                                        <select class="form-select" id="recurrenceFrequency">
                                            <option value="daily">Täglich</option>
                                            <option value="weekly">Wöchentlich</option>
                                            <option value="monthly">Monatlich</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Enddatum *</label>
                                        <input type="text" class="form-control" id="recurrenceEndDate"
                                               data-daterangepicker="single-date" placeholder="Enddatum wählen">
                                    </div>
                                </div>
                            </div>

                            {# Typ-spezifische Felder werden hier dynamisch eingefügt #}
                            <div id="typeSpecificFields"></div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-danger" id="deleteAppointmentBtn" style="display: none;">Löschen</button>
                        <button type="button" class="btn btn-primary" id="saveAppointmentBtn">Speichern</button>
                    </div>
                </div>
            </div>
        </div>

        {# Production Event Details Modal #}
        <div class="modal fade" id="productionEventModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productionEventModalTitle">Veranstaltung</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="productionEventModalBody">
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Laden...</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                        <a href="#" id="editProductionEventBtn" class="btn btn-primary" style="display: none;">Bearbeiten</a>
                    </div>
                </div>
            </div>
        </div>

        {# Delete Appointment Confirmation Modal #}
        <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Termin löschen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="deleteConfirmMessage">Möchten Sie diesen Termin wirklich löschen?</p>
                        <div id="deleteRecurringOptions" style="display: none;">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="deleteMode" id="deleteSingle" value="single" checked>
                                <label class="form-check-label" for="deleteSingle">
                                    Nur diesen Termin löschen
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="deleteMode" id="deleteSeries" value="series">
                                <label class="form-check-label" for="deleteSeries">
                                    Alle Termine dieser Serie löschen
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Löschen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Hidden data for JS #}
    <script>
        window.dashboardData = {
            allTechnicians: {{ techniciansData|json_encode|raw }},
            allVolunteers: {{ volunteersData|json_encode|raw }},
            allProductions: {{ productionsData|json_encode|raw }},
            allCleanings: {{ cleaningsData|json_encode|raw }}
        };
    </script>
{% endblock %}
