{% extends 'base_logged_in.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block logged_in_content %}
    <div class="main-content bgc-grey-100">
        <div class="mainContent">
            <div class="row gap-20">

                {# --- Linke Spalte: NUR Schlüsselübersicht --- #}
                {% set allKeysFlat = [] %}

                {% for roomId, keys in keysByRoom %}
                    {% for key in keys %}
                        {% set allKeysFlat = allKeysFlat|merge([key]) %}
                    {% endfor %}
                {% endfor %}

                {% if keysWithoutRoom is not empty %}
                    {% for key in keysWithoutRoom %}
                        {% set allKeysFlat = allKeysFlat|merge([key]) %}
                    {% endfor %}
                {% endif %}

                <div class="col-md-3">
                    <div class="bdrs-3 ov-h bgc-white bd">
                        <div class="bgc-deep-purple-500 ta-c p-15">
                            <h4 class="c-white m-0">Schlüsselübersicht</h4>
                        </div>

                        <div class="p-0">
                            <div class="layer w-100" style="max-height: 80vh; overflow-y: auto;">
                                <div class="pos-r">
                                    <ul class="m-0 p-0 mT-10" id="day-events-list">
                                        {% for key in allKeysFlat %}
                                            {% set statusColor = 'c-green-500' %}
                                            {% set statusIcon = 'ti-check' %}
                                            {% set statusLabel = 'Verfügbar' %}

                                            {% if key.status.value == 'borrowed' %}
                                                {% set statusColor = 'c-amber-500' %}
                                                {% set statusIcon = 'ti-export' %}
                                                {% set statusLabel = 'Verliehen' %}
                                            {% elseif key.status.value == 'lost' %}
                                                {% set statusColor = 'c-red-500' %}
                                                {% set statusIcon = 'ti-close' %}
                                                {% set statusLabel = 'Verloren' %}
                                            {% endif %}

                                            {% set holderName = key.currentHolderName ?? '' %}

                                            <li class="bdB peers ai-c jc-sb fxw-nw key-item-btn" style="cursor: pointer;"
                                                data-key-id="{{ key.id }}"
                                                data-key-name="{{ key.name }}"
                                                data-key-status="{{ key.status.value }}"
                                                data-borrow-date="{{ key.borrowDate ? key.borrowDate|date('Y-m-d') : '' }}"
                                                data-return-date="{{ key.returnDate ? key.returnDate|date('Y-m-d') : '' }}"
                                                data-user-id="{{ key.user ? key.user.id : '' }}"
                                                data-tech-id="{{ key.technician ? key.technician.id : '' }}"
                                                data-prod-id="{{ key.production ? key.production.id : '' }}"
                                                data-clean-id="{{ key.cleaning ? key.cleaning.id : '' }}">
                                                <div class="td-n p-20 peers fxw-nw me-20 peer-greed c-grey-900">
                                                    <div class="peer mR-15">
                                                        <i class="ti-key {{ statusColor }}"></i>
                                                    </div>
                                                    <div class="peer">
                                                        <span class="fw-600">{{ key.name }}</span>
                                                        <div class="c-grey-600">
                                                            {% if key.status.value == 'borrowed' %}
                                                                <span class="c-grey-700">{{ holderName }}</span>
                                                            {% else %}
                                                                <span class="c-grey-700">&nbsp;</span>
                                                            {% endif %}
                                                            <i>{{ statusLabel }}</i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="peers mR-15">
                                                    <div class="peer">
                                                        <span class="fsz-md p-5" title="{{ statusLabel }}">
                                                            <i class="{{ statusIcon }} {{ statusColor }}"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# --- Rechte Spalte: Filter & Kalender Grid --- #}
                <div class="col-md-9">
                    <div class="bgc-white p-20 bd mB-20">
                        <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                            <h6 class="c-grey-900 m-0"></h6>
                            <div class="d-flex gap-3 flex-wrap align-items-center">
                                <button type="button" class="btn btn-warning" id="syncApiBtn">
                                    <i class="ti-reload"></i> Veranstaltungen aus WP laden
                                </button>

                                {# View Switcher #}
                                <div class="btn-group" role="group">
                                    <input type="radio" class="btn-check" name="calendarView" id="viewGlobal" value="global" checked autocomplete="off">
                                    <label class="btn btn-outline-primary btn-sm" for="viewGlobal">
                                        <i class="ti-calendar"></i> Gesamtansicht
                                    </label>

                                    <input type="radio" class="btn-check" name="calendarView" id="viewRooms" value="rooms" autocomplete="off">
                                    <label class="btn btn-outline-primary btn-sm" for="viewRooms">
                                        <i class="ti-layout-grid2"></i> Raumansicht
                                    </label>
                                </div>

                                <div class="d-flex gap-3 flex-wrap" id="calendar-filters" style="display: none !important;">
                                    <div class="form-check">
                                        <input class="form-check-input filter-checkbox" type="checkbox" value="production"
                                               id="filterProduction" checked>
                                        <label class="form-check-label" for="filterProduction">Produktion</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filter-checkbox" type="checkbox" value="cleaning"
                                               id="filterCleaning" checked>
                                        <label class="form-check-label" for="filterCleaning">Reinigung</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filter-checkbox" type="checkbox" value="private"
                                               id="filterPrivate" checked>
                                        <label class="form-check-label" for="filterPrivate">Privat / Sonstiges</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input filter-checkbox" type="checkbox" value="keys"
                                               id="filterKeys" checked>
                                        <label class="form-check-label" for="filterKeys">🔑 Schlüssel</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Globaler Kalender Container #}
                    <div id="globalCalendarContainer">
                        <div class="bgc-white p-15 bd">
                            <div id="global-calendar"></div>
                        </div>
                    </div>

                    {# Raum-Kalender Container (initial versteckt) #}
                    <div id="roomCalendarsContainer" style="display: none;">
                        <div class="row">
                            {% for room in rooms %}
                                <div class="col-12 col-xl-6 mb-4">
                                    <div class="bgc-white p-15 bd h-100">
                                        <h5 class="c-grey-900 border-bottom pb-2 mB-15 text-center">{{ room.name }}</h5>
                                        <div class="room-calendar" data-room-id="{{ room.id }}"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Key Management Modal #}
        <div class="modal fade" id="keyManagementModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Schlüssel verwalten <span id="modalKeyNameTitle" class="badge bg-secondary"></span></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="keyManagementForm">
                            <input type="hidden" id="keyId">

                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <select class="form-select" id="keyStatus">
                                    <option value="available">Verfügbar</option>
                                    <option value="borrowed">Verliehen</option>
                                    <option value="lost">Verloren</option>
                                </select>
                            </div>

                            <div id="borrowDetails" style="display: none;">
                                <div class="mb-3">
                                    <label class="form-label">Verliehen an (Typ)</label>
                                    <select class="form-select" id="borrowerType">
                                        <option value="">Bitte wählen...</option>
                                        <option value="user">Benutzer</option>
                                        <option value="technician">Techniker</option>
                                        <option value="production">Produktion</option>
                                        <option value="cleaning">Reinigung</option>
                                    </select>
                                </div>

                                <div class="mb-3 borrower-select" id="userSelectDiv" style="display:none;">
                                    <label class="form-label">Benutzer</label>
                                    <select class="form-select" id="userId">
                                        <option value="">Wählen...</option>
                                        {% for u in allUsers %}
                                            <option value="{{ u.id }}">{{ u.email }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3 borrower-select" id="technicianSelectDiv" style="display:none;">
                                    <label class="form-label">Techniker</label>
                                    <select class="form-select" id="technicianId">
                                        <option value="">Wählen...</option>
                                        {% for t in allTechnicians %}
                                            <option value="{{ t.id }}">{{ t.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3 borrower-select" id="productionSelectDiv" style="display:none;">
                                    <label class="form-label">Produktion</label>
                                    <select class="form-select" id="productionId">
                                        <option value="">Wählen...</option>
                                        {% for p in allProductions %}
                                            <option value="{{ p.id }}">{{ p.getTitle() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3 borrower-select" id="cleaningSelectDiv" style="display:none;">
                                    <label class="form-label">Reinigung</label>
                                    <select class="form-select" id="cleaningId">
                                        <option value="">Wählen...</option>
                                        {% for c in allCleanings %}
                                            <option value="{{ c.id }}">{{ c.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Ausgabedatum</label>
                                    <input type="text" class="form-control" id="keyBorrowDate"
                                           data-daterangepicker="single-datetime" placeholder="Datum und Uhrzeit wählen">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Rückgabedatum (geplant)</label>
                                    <input type="text" class="form-control" id="keyReturnDate"
                                           data-daterangepicker="single-datetime" placeholder="Datum und Uhrzeit wählen">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-primary" id="saveKeyBtn">Speichern</button>
                    </div>
                </div>
            </div>
        </div>

        {# NEU: Appointment Modal #}
        <div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="appointmentModalLabel">Neuer Termin</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="appointmentForm">
                            <input type="hidden" id="appointmentId">

                            {# Art des Termins #}
                            <div class="mb-3">
                                <label class="form-label d-block fw-bold">Art des Termins</label>
                                <div class="btn-group w-100" role="group">
                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typePrivate" value="private" checked>
                                    <label class="btn btn-outline-primary" for="typePrivate">Privat</label>

                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typeProduction" value="production">
                                    <label class="btn btn-outline-primary" for="typeProduction">Produktion</label>

                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typeClosedEvent" value="closed_event">
                                    <label class="btn btn-outline-primary" for="typeClosedEvent">Geschl. Veranstaltung</label>

                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typeSchoolEvent" value="school_event">
                                    <label class="btn btn-outline-primary" for="typeSchoolEvent">Schulveranstaltung</label>

                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typeInternal" value="internal">
                                    <label class="btn btn-outline-primary" for="typeInternal">Intern</label>

                                    <input type="radio" class="btn-check appointment-type-radio" name="appointmentType" id="typeCleaning" value="cleaning">
                                    <label class="btn btn-outline-primary" for="typeCleaning">Reinigung</label>
                                </div>
                            </div>

                            {# Titel #}
                            <div class="mb-3">
                                <label for="appointmentTitle" class="form-label">Titel *</label>
                                <input type="text" class="form-control" id="appointmentTitle" required>
                            </div>

                            {# Raum #}
                            <div class="mb-3">
                                <label for="appointmentRoom" class="form-label">Raum</label>
                                <select class="form-select" id="appointmentRoom">
                                    <option value="">-- Kein Raum (Global) --</option>
                                    {% for room in allRooms %}
                                        <option value="{{ room.id }}">{{ room.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {# Beschreibung #}
                            <div class="mb-3">
                                <label for="appointmentDescription" class="form-label">Beschreibung</label>
                                <textarea class="form-control" id="appointmentDescription" rows="3"></textarea>
                            </div>

                            {# Zeitraum #}
                            <div class="mb-3">
                                <label for="appointmentDateRange" class="form-label">Zeitraum *</label>
                                <input type="text" class="form-control" id="appointmentDateRange"
                                       data-daterangepicker="datetime-range" placeholder="Start - Ende wählen">
                            </div>

                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="appointmentAllDay">
                                <label class="form-check-label" for="appointmentAllDay">Ganztägig</label>
                            </div>

                            {# Wiederholung #}
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="appointmentRecurring">
                                    <label class="form-check-label" for="appointmentRecurring">Wiederholender Termin</label>
                                </div>
                            </div>

                            <div id="recurrenceOptions" style="display: none;">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Wiederholung</label>
                                        <select class="form-select" id="recurrenceFrequency">
                                            <option value="daily">Täglich</option>
                                            <option value="weekly">Wöchentlich</option>
                                            <option value="monthly">Monatlich</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Enddatum *</label>
                                        <input type="text" class="form-control" id="recurrenceEndDate"
                                               data-daterangepicker="single-date" placeholder="Enddatum wählen">
                                    </div>
                                </div>
                            </div>

                            {# Typ-spezifische Felder werden hier dynamisch eingefügt #}
                            <div id="typeSpecificFields"></div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-danger" id="deleteAppointmentBtn" style="display: none;">Löschen</button>
                        <button type="button" class="btn btn-primary" id="saveAppointmentBtn">Speichern</button>
                    </div>
                </div>
            </div>
        </div>

        {# Production Event Details Modal #}
        <div class="modal fade" id="productionEventModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productionEventModalTitle">Veranstaltung</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="productionEventModalBody">
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Laden...</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                        <a href="#" id="editProductionEventBtn" class="btn btn-primary" style="display: none;">Bearbeiten</a>
                    </div>
                </div>
            </div>
        </div>

        {# Delete Appointment Confirmation Modal #}
        <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Termin löschen</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="deleteConfirmMessage">Möchten Sie diesen Termin wirklich löschen?</p>
                        <div id="deleteRecurringOptions" style="display: none;">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="deleteMode" id="deleteSingle" value="single" checked>
                                <label class="form-check-label" for="deleteSingle">
                                    Nur diesen Termin löschen
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="deleteMode" id="deleteSeries" value="series">
                                <label class="form-check-label" for="deleteSeries">
                                    Alle Termine dieser Serie löschen
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Löschen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Hidden data for JS #}
    <script>
        window.dashboardData = {
            allTechnicians: {{ techniciansData|json_encode|raw }},
            allVolunteers: {{ volunteersData|json_encode|raw }},
            allProductions: {{ productionsData|json_encode|raw }},
            allCleanings: {{ cleaningsData|json_encode|raw }}
        };
    </script>
{% endblock %}
