{# templates/adminator/base.html.twig #}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ 'homepage_title'|trans }} - {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/favicon/favicon.ico') }}" type="image/svg+xml">
    <link rel="icon" href="{{ asset('images/favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" href="{{ asset('images/favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="apple-touch-icon" href="{{ asset('images/favicon/apple-touch-icon.png') }}"> {# 180×180 #}
    <link rel="manifest" href="{{ asset('images/favicon/site.webmanifest') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="{{ asset('images/favicon/favicon-dark.svg') }}" type="image/svg+xml" media="(prefers-color-scheme: dark)">
    <link rel="icon" href="{{ asset('images/favicon/favicon-light.svg') }}" type="image/svg+xml" media="(prefers-color-scheme: light)">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="app is-collapsed">
{% block body %}{% endblock %}
</body>
</html>
